/* p {
  animation-duration: 4s;
  animation-name: slidein;
  color: white;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
} */
/* p::first-letter {
  font-family: "Times New Roman", Times, serif;
  font-size: 2em;
  color: red;
} */
